.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  min-width: 70px;
  width: 23%;
  border-radius: 8%;
  background: #ffffff;
  padding: 0.85rem;
  box-shadow: 0px 8px 24px 0px rgba(112, 144, 176, 0.2);
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
}
.navLink svg {
  width: 5rem;
  height: 5rem;
}

.navLink p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.textgreen {
  color: #125c40;
}

.textyellow {
  color: #f2b600;
}

.close-button {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button svg {
  width: 32px;
  height: 32px;
}

.custom-input {
  width: 90vw;
  height: 7vh;
  padding: 10px;
  color: #393939;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #cbcbcb;
  box-shadow: 0px 8px 24px 0px rgba(112, 144, 176, 0.2);

  &:focus {
    outline: none;
    border-color: #56ba50;
  }

  @media screen and (min-width: 720px) {
    width: 500px;
    height: 50px;
    font-size: 24px;
    color: #393939;
    font-weight: 400;
    font-size: 16px;
  }
}

.error {
  color: red;
  font-family: 'Manrope', sans-serif;
  margin-left: 5px;
}

.arrow-left {
  margin-top: 1rem;
}
